<div class="about">

<h1><span>Soy Esther Herrera,</span>  Frontend Developer en Angular</h1>

<div class="me">
  <div class="blurred">

    <img src="assets/esther.jpg" alt="foto de perfil de Esther">

  </div>

  <section>



    <p><strong>Graduada en electromedicina,</strong> soy una mujer trabajadora y respetuosa, me apasiona
      el <strong>desarrollo web y la resolucion de problemas,</strong> mi misión es crear aplicaciones
      webs con proyectos en Angular, en conjunto con las empresas para obtener una web consistente, moderna y fresca
    </p>
    <h3>¿Cuáles son mis Habilidades Técnicas?</h3>
    <p>
      Te invito a ver uno de mis proyectos <strong><a href="" class="project">Banco-Herrera</a></strong> que está en desarrollo y
      trata sobre el control de cuentas de cada cliente, lo he creado con HTML, CSS y typescript en
      angular, usé Git y GitHub como repositorio y lo he desplegado en netifly. Tengo habilidades en Javascript, typescript, VUE 3,
      Laravel, Matlab, C, C++ y python. También habilidades para trabajar en Equipo, sé escuchar
      respetando cada opinión, tomo la iniciativa.
    </p>

    <p>
      Tengo muchas ganas de tener un gran impacto en la empresa y seguir creciendo profesionalmente
       en las herramientas del campo de programación. <strong> Espero tener la oportunidad de que
      conversemos</strong> de mi aporte en conjunto con su empresa.
    </p>

    <h3>Gracias por leerme..!</h3>

    <div class="container">
      <div class="button-project">
        <a href="#">Ver Proyecto de entidad financiera</a>
      </div>
  </div>


  </section>



</div>
</div>
