.about {
  padding-bottom: 56px;
  margin-bottom: 56px;
}

h1 {
  margin-top: 32px;
  font-family: system-ui, sans-serif;
  text-align: center;
}

.me {
  display: flex;
  justify-content: center;
  font-family: system-ui, sans-serif;
  gap: 24px;

}

.blurred img, .me section {
  padding: 20px;
}

.blurred img {
  height: 500px;
  width: 400px;
  background-color: #0d6efd;
  padding: 4px;
  position: relative;
  border-radius: 16px;
}

.me section p {
  text-align: left;
  max-width: 600px;
}

.project {
  text-decoration: none;
  color: black;
}

.button-project {
  background:  #0d6efd;
  padding: 4px;
  position: relative;
  aspect-ratio: 10/16;
  width: 300px;
  height: 50px;
  left: 300px;
  border-radius: 8px;
}

.button-project a {
  background: white;
  text-decoration: none;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-style: oblique;
}
