<h4 class="text pt-3">Agregar Paciente</h4>
<form [formGroup]="formPatient" (ngSubmit)="onSubmit()">
  <div class="mt-2" *ngFor="let control of inputControls">
    <label > {{control.label}} </label>
    <input type="text" class="form-control" [formControlName]="control.formControlName" />
    <div>
      <span *ngIf="isValidField(control.formControlName)" class="form-text text-danger">
              {{ getFieldError(control.formControlName)}}
      </span>
    </div>
  </div>



    <button type="submit" class="btn btn-primary mt-2">Guardar</button> &nbsp;
    <button onclick="window.location.href='list-patient/:id'" class="btn btn-danger mt-2 justify-content-end">Cancelar</button>
</form>
